<div class="container">
    <ol class="breadcrumb">
        <li><a routerLink='/lugares'>Lugares</a></li> / Contacto
    </ol>

    <div class="container">

        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" class="form-control" />

        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" />

        <label for="message">Mensaje</label>
        <textarea id="message" cols="30" rows="5" class="form-control"></textarea>

        <br>

        <div class="float-right ">
            <a class="btn btn-secondary " href="#">cancelar</a>
            <a class="btn btn-primary "href="#" >Enviar</a>
        </div>
    </div>

    
</div>