<div 
  id="cuadrado" 
  [@contenedorAnimable]="state"
  (@contenedorAnimable.start)="animationStart($event)" 
  (@contenedorAnimable.done)="animationDone($event)" 
></div>
<button class="btn btn-primary" (click)="animate()" >animar!!</button>


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Lugares cerca de ti</h3>
      <a routerLink="/crear" class="btn btn-primary">Crear un nuevo negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let item of lugares">
          <li class="list-group-item" *ngIf="item.active" >
            <a routerLink='/detalle/{{item.id}}' [queryParams]="{action: 'view'}" >
              <h5>
                {{item.nombre  | lowercase }}
              </h5>
            </a>
              <br>
              <small> Creado: {{ item.id | date:fullDate | lowercase }} </small>
              <br>
              <p [innerHtml]="item.descripcion | linkifystr" >s/p>
            </li>
        </ng-container>
      </ul>
      <p class="bg-danger">{{err}}</p>
    </div>
    <div class="col-md-4">
      <h3>Destacados</h3>
      <ul class="list-group" >
          <ng-container *ngFor="let item of lugares" >
              <li class="bg-warning padding list-group-item" *ngIf="item.plan=='full'" >
                  <a routerLink='/detalle/{{item.id}}'> {{ item.nombre }} </a>
              </li>
            </ng-container>
      </ul>
    </div>
  </div>
</div>