<!--The content below is only a placeholder and can be replaced.-->
<!--  <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>
    {{ a*b}}
  </h2>

  <hr>

  <button [disabled]="!listo" (click)="hacerAlgo()" >Click me</button>

  <hr>

  <input type="text" placeholder="Nombre" [(ngModel)]="nombre" >
  <br>
  <p>Mi nombre es {{nombre}} </p>
</d-->
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a routerLink="/">Home</a></li>
        <li role="presentation"><a routerLink="/lugares">Lugares</a></li>
        <li role="presentation"><a routerLink="/detalle">Detalle</a></li>
        <li role="presentation"><a routerLink="/contacto">Contacto</a></li>
        <li role="presentation" *ngIf="!isLogged" ><a routerLink="/login">Login</a></li>
        <li role="presentation" *ngIf="!isLogged" ><a routerLink="/regiter">Register</a></li>
        <li role="presentation" *ngIf="isLogged" ><a href="#" (click)="logout($event)" >Salir</a></li>
      </ul>
</div>

<router-outlet></router-outlet>
  
<!-- <ng-container *ngFor="let item of lugares; let i = index" >
  <a >
    <li 
    
    [ngStyle]="{'color': (item.active) ? 'black' : 'red'}" 
    [ngClass]="{numero_par: ((i + 1) % 2 == 0) }" 
    [ngSwitch]="item.distancia"
    [resaltar]="item.plan"
    >{{item.nombre}} 
    <span *ngSwitchCase="1" [ngStyle]="{'color': 'green'}">
      cercano
    </span>
    <span *ngSwitchCase="10" [ngStyle]="{'color': 'black'}">
      distancia media
    </span>
    <span *ngSwitchDefault [ngStyle]="{'color': 'red'}">
      lejano
    </span>
  </li>
  </a>
</ng-container> -->
